/* Общение бывают след типов:
	+ 1) теги p
	+ 2) класс .
	+ 3) id #
	+ 4) атрибуты []
	+ 5) обращение ко всем элементам - * 
*/


/* Базовые настройки страницы */
	/*-----     * - означает обращение ко всем элементам сайта       ------*/
	* {
		box-sizing: border-box;
	}

	body {
		margin: 0;
	}


/* Конец базовых настроек страницы */






/* Универсальные стили */

	/*  , - Это означает дополнительное обращение к тому или иному элементу.
		 	Это перечисление подключений новых Class'ов
	*/

	.left, .ul_li li {
		float: left;
		/* Float - это обтекание. То есть выравнивание.
			Выравнивание: куда
			Выравнивание: в левую сторону 	= float: left
			Выравнивание: в правую сторону 	= float: right*/
	}
	.right {
		float: right;
		/* Float - это обтекание. То есть выравнивание.
			Выравнивание: куда
			Выравнивание: в левую сторону 	= float: left
			Выравнивание: в правую сторону 	= float: right*/
	}

	.ul_li {
		list-style: none;
		display: inline-block;
		padding: 0;
		margin: 0;
	}

	.ul_li li {
		padding: 10px 15px;
	}

	.b-r li {
		border-right: 1px solid #dadada;

		/* border - границы 
			гарницы: ширина тип цвет
		*/
	}

	.b-r li:last-child {
		border-right: 0
	}


	.container {
		width: 1200px;
		margin: 0 auto

		/* Margin: - это внешний отступ
					Так же margin является выравниванием
					margin: 0 auto - ноль отступов со всех сторон и это значит выровнить по центру*/
	}



/* Конец универсальных стилей */







/* Стили для страницы */

	/* Урок 14 */


		.verhnee_menu {
			background: #f7f7f7;
			display: inline-block;
			width: 100%
		}

		.ul_li i {
			margin-right: 10px
		}

		/* Position */

		.msg {
			position: absolute;
			/* Position: это позиционирование */
			top: -7px;
			right: 8px;
			background: red;
			width: 13px;
			height: 13px;
			text-align: center;
			color: white;
			font-size: 9px;
			line-height: 1.5;
			border-radius: 13px;
		}

		.icon_msg {
			position: relative;
		}

/* Конец стилей для страницы */
