/* Общение бывают след типов:
	+ 1) теги p
	+ 2) класс .
	+ 3) id #
	+ 4) атрибуты []
*/

.fon_yellow {
	background: red;
}
li {
	font-size: 12px;
}

.second_class {
	border: 10px solid black 
}

/* Перечисление классов которые находятся в одном сегменте CLASS */
/* class="fon_yellow second_class sun help" */
.fon_yellow.second_class.sun.help {
	background: yellow;
}

/* Данная запись трактуется след образом: 
	main_menu 	- основной родительский блок
	sun			- внутренний элемент который находится внутри блока main_menu

	По простому::
	CSS должен найти в HTML класс SUN  который находится внутри Main_menu
*/
.main_menu .sun {
	background: pink;
}

/* Если нужно указать для нескольких блоков одни и те же цвета то, мы можем перечилсить class / id / tags / attribute через запятую  */
.primer div,
.primer p {
	background: red;
}

#my_id { 
	background: yellow;
}


[data-ismar="name"] {
	background: pink;
}