/* Общение бывают след типов:
	+ 1) теги p
	+ 2) класс .
	+ 3) id #
	+ 4) атрибуты []
*/


/* Базовые настройки страницы */
	/*-----     * - означает обращение ко всем элементам сайта       ------*/
	* {
		box-sizing: border-box;
	}

	body {
		margin: 0;
	}


/* Конец базовых настроек страницы */






/* Универсальные стили */

	/*  , - Это означает дополнительное обращение к тому или иному элементу.
		 	Это перечисление подключений новых Class'ов
	*/

	.left, .ul_li li {
		float: left;
		/* Float - это обтекание. То есть выравнивание.
			Выравнивание: куда
			Выравнивание: в левую сторону 	= float: left
			Выравнивание: в правую сторону 	= float: right*/
	}
	.right {
		float: right;
		/* Float - это обтекание. То есть выравнивание.
			Выравнивание: куда
			Выравнивание: в левую сторону 	= float: left
			Выравнивание: в правую сторону 	= float: right*/
	}

	.ul_li {
		list-style: none;
		display: inline-block;
		padding: 0;
		margin: 0;
	}

	.ul_li li {
		padding: 10px 15px;
	}


	.container {
		width: 1200px;
		margin: 0 auto

		/* Margin: - это внешний отступ
					Так же margin является выравниванием
					margin: 0 auto - ноль отступов со всех сторон и это значит выровнить по центру*/
	}

/* Конец универсальных стилей */







/* Стили для страницы */

	/* Урок 14 */


		.verhnee_menu {
			background: #f7f7f7;
			display: inline-block;
			width: 100%
		}

		

/* Конец стилей для страницы */
